
# Set default behavior to automatically normalize line endings
* text=auto

# Ensure that all text files use LF line endings in the repository
*.c text
*.h text
*.cpp text
*.java text
*.js text
*.ts text
*.css text
*.html text
*.md text

# Ensure that binary files are not altered
*.png binary
*.jpg binary
*.gif binary